<div class="row" id="title">
  <div class="small-8 large-centered column" >
    <h1>Andy Passidomo<h1>
    <h3>for all your coding needs</h3>
  </div>
</div>
<hr>
<p></p>
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 small-6 columns">
        <h4>Skills</h4><hr>
        <% if @profile.empty? %>
          No skills matched your search
          <% if current_user != nil && current_user.has_authority? %>
            <%= link_to "add a new project", new_profile_project_path %>
          <% end %>
        <% else %>
          <% @profile.skills.each do |skill| %>
            <div class="row">
              <div class="large-12 small-centered columns">
                <h5>skill</h5>
              </div>
            </div><hr>
          <% end %>
        <% end %>
      </div>
      <div class="large-4 small-6 columns">
        <img src="http://i.imgur.com/xwzdcv4.jpg">
      </div>
      <div class="large-4 small-12 columns">
        <h4>more options</h4><hr>
         <% if @projects.empty? %>
          <div class="panel">
            <h4>
              There are no projects
            </h4>
          </div>
        <% else %>
          <% @projects.title.each do |project| %>
            <div class="panel">
              <h5><%= link_to project.title, project_path(project) %></h5>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
